<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Twilio</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
	<div class="container">
		<h2>Fill the form</h2>
		<input type="tel" name="number" id="number" placeholder="Enter a phone number">
		<input type="text" name="msg" id="msg" placeholder="Enter a text">
		<input type="button" name="button" id="button" value="Send" class="button button-primary">
		<p class="response"></p>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>
</html>